@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


html,
body {
  margin: 0;
  height: 100%;
}

h1 {
  position: relative;
  left: 200px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: indigo;
  z-index: 2;
}

h2{
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: black;
}

p{
  color: white;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  left: 30px;
  /* top: px; */
}

a{
  display: inline-block;
  width: 100px;
  height: 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

a:hover{
  color: #d2daf7;
  text-decoration: none;
}

a:visited, a:link, a:active{
  color: #536bba;
  text-decoration: none;
  background: #000;
  transition: width .3s;
}

a::after{
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background: rgb(75, 121, 221);
  transition: width .5s;
}



body {
  background-color: aliceblue;
}
