<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  <p><a href="{% url 'add_post' %}">add post</a></p>
  <ul>
    {% for post in object_list %}
      {% if post.approval %}`
        <h2>{{  post.title  }}</h2>
        <img src="{{ post.cover.url}}" alt="{{ post.title }}">
      {% endif %}  
    {% endfor %}
  </ul>

{% else %}
  <p><a href="{% url 'signup' %}">Sign Up</a></p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}

