<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block title %}Hotdog Not Hotdog{% endblock %}


{% block content %}
<h1>Hotdog Not Hotdog</h1>

<img class="main" src="{% static 'img/hotdog.gif' %}"></img>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
  <p><a href="{% url 'add_post' %}">add post</a></p>
  <ul>
    {% for post in object_list %}
      {% if post.approval %}`
        <h2>{{  post.name  }}</h2>
        <img src="{{ post.image.url}}" alt="{{ post.name }}">
      {% endif %}  
    {% endfor %}
  </ul>

{% else %}
<div style="text-align:center">
    <div style='padding-top:5%'>
    <a class="button bouncy" href="{% url 'signup' %}">Sign Up</a>
    <a class="button bouncy" href="{% url 'login' %}">Login</a>
    </div>
</div>
{% endif %}
{% endblock %}
